body {
    font-family: sans-serif;
}

.main-header {
    width: 100%;
    display: flex;
    align-items: center;
}

.logout-button {
    margin-left: auto;
}

.playlist-currentusers {
    padding: 0;
    display: flex;
}

.current-user {
    list-style-type: none;
    margin-right: 1em;
}

.current-user img {
    width: 6em;
    border-radius: 50%;
}

.current-user p {
    text-align: center;
}

.queue {
    padding: 0;
}

.queue__track--top {
    margin-bottom: 1em;
	text-transform: uppercase;
}

.queue__track, .queue__track--top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    list-style-type: none;
}
.queue__track {
	height: 3em;
}

.queue__track span {
	display: flex;
align-items: center;
}
