@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:400,600,700');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    /* background: linear-gradient(to top, #000000 0%,#001749 100%); */
    background-color: #000;
    color: #fff;
    min-height: calc(100vh + 7em);
}

h1 {
    font-family: 'Poppins', 'Open Sans', sans-serif;
    font-size: 3em;
}

h2 {
    font-size: 2.6em;
}

h3 {
    font-size: 1.7em;
    font-weight: 600;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

main {
    max-width: 70em;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.button {
    padding: 0.5em 1em;
    border: 1px solid #fff;
    border-radius: 4px;
}

.main-header {
    max-width: 70em;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.2em;
    font-weight: 400;
}

.account {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.account__text--account {
    text-transform: uppercase;
    opacity: 0.7;
    font-size: 0.7em;
    text-align: right;
}

.account img {
    width: 2.4em;
    align-self: start;
    margin-left: 0.6em;
    border-radius: 50%;
}

.logout-button {
    margin-left: 1em;
}

.playlist-header {
    display: flex;
    height: 10em;
    margin: 3em 0;
}

.playlist-header__currentrack {
    position: relative;
}

.playlist-header__currentrack img {
    height: 100%;
    border-radius: 4px;
}

.playlist-header__currentrack .play-status {
    position: absolute;
    left: 1em;
    bottom: 1em;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    width: 5.2em;
    height: 1.8em;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 0.75em;
    display: none;
}

.playlist-header__currentrack {
    margin-right: 3em;
    height: 100%;
    width: 10em;
}

.playlist-header__details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.playlist-header__title {
    margin: 0 0 0.2em 0;
    font-size: 3.5em;
}

.playlist-header__user-created {
    display: flex;
    align-items: center;
}

.playlist-header__user-created img {
    width: 2em;
    border-radius: 50%;
    margin-left: 0.6em;
}

.playlist-currentusers__list {
    padding: 0;
    display: flex;
}

.leave-playlist-button {
    display: flex;
    align-items: center;
}

.leave-playlist-button .icon {
    margin-right: 0.5em;
}

.current-user {
    list-style-type: none;
    margin-right: 1em;
}

.current-user img {
    width: 6em;
    border-radius: 50%;
}

.current-user p {
    text-align: center;
}

.tracklist-header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.show-add-tracks {
    margin-left: auto;
}

.tracklist {
    padding: 0;
    margin-bottom: 6em;
}

.tracklist__track--top span {
    text-transform: uppercase;
    font-size: 0.9em;
    opacity: 0.8;
}

.tracklist__track, .tracklist__track--top {
    display: grid;
    grid-template-columns: 4.5em 1fr 1fr 13em 4em;
    grid-gap: 1em;
    list-style-type: none;
    margin-bottom: 1em;
}

.top-songs .tracklist__track, .top-songs .tracklist__track--top, .search-results .tracklist__track, .search-results .tracklist__track--top {
    grid-template-columns: 4.5em 26em 1fr 4em;
}

.tracklist__track {
    height: 3.2em;
    width: 100%;
    position: relative;
}

.tracklist__track-img {
    height: 100%;
    width: auto;
    border-radius: 4px;
}

.tracklist__track span {
    display: flex;
    align-items: center;
}

.tracklist__track-addedby {
    display: flex;
    align-items: center;
}

.tracklist__track-addedby-profilepic {
    width: 2.2em;
    margin-right: 0.8em;
    border-radius: 50%;
}

.tracklist__track-likes {
    justify-content: flex-end;
}

.like-amount {
    margin-right: 0.5em;
}

.track-delete-button span, .track-like-button span, .track-like-button span, .track-add-button span, .play-button span, .pause-button span, .next-button span, .prev-button span {
    display: none;
}

.track-delete-button, .track-like-button, .track-add-button, .play-button, .pause-button, .prev-button, .next-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
}

/* .pause-button.hidden {
	display: none;
} */

@media(max-width: 750px) {
    .logout-button, .player-details {
        display: none !important;
    }
    main, .main-header, .add-track-wrapper {
        padding: 0 1em;
    }
    .playlist-header__currentrack {
        margin-right: 2em;
    }
    .playlist-header__title {
        font-size: 2.5em;
    }
    .tracklist__track--top {
        display: none;
    }
    .tracklist__track {
        grid-template-columns: 5em 1fr 4em!important;
        grid-row-gap: 0;
        height: 5em;
    }
    .tracklist__track-addedby {
        display: none !important;
    }
    .tracklist__track-img {
        grid-row: 1 / 3;
    }
    .tracklist__track-name {
        grid-row: 1;
        font-weight: 800;
    }
    .tracklist__track-likes {
        grid-row: 1 / 3;
    }
	.track-add-button {
        grid-row: 1 / 3;
    }
}

.prev-button img, .next-button img {
    width: 1.1em;
}

#add-track {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    color: #fff;
    width: 100%;
    min-height: 100%;
    display: none;
    overflow-y: scroll;
    height: 100%;
}

.add-track-wrapper {
    max-width: 70em;
    margin: 0 auto;
}

#add-track:target {
    display: block;
}

#add-track.active {
    display: block;
}

.search-results {
    display: none;
}

.search-results.active {
    display: block;
}

.top-songs.hidden {
    display: none;
}

.user-playlists-wrapper {
    margin: 2em 0 4em 0;
}

.user-playlists {
    display: flex;
    justify-content: space-between;
}

.user-playlists__item {
    width: 14.33%;
    position: relative;
}

.user-playlists img {
    width: 100%;
    display: block;
    margin-bottom: 0.5em;
}

.show-playlist-button {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.show-playlist-button span {
    display: none;
}

#player {
    width: 100%;
    height: 6.5em;
    position: fixed;
    padding: 0 1em;
    bottom: 0;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-details {
    height: 100%;
    display: flex;
}

.player-details__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
    min-width: 20em;
}

.player-details__track-name {
    font-size: 1.1em;
    font-family: "Poppins";
}

.player-details__artist-name {
    font-size: 0.9em;
    opacity: 0.8;
}

.player-details__addedby {
    margin-top: 0.5em;
    font-size: 0.9em;
    opacity: 0.8;
}

.player-details p {
    margin: 0;
}

.player-details img {
    align-self: center;
    height: 80%;
    border-radius: 4px;
}

.player-controls {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    width: 10em;
    justify-content: space-around;
}

.fetch-devices-wrapper {
    position: fixed;
    bottom: 3em;
    background-color: #191919;
    color: #fff;
    padding: 0;
    right: 1em;
    min-height: 8em;
    padding: 1em;
    list-style-type: none;
    display: none;
}

.fetch-devices-wrapper.active {
    display: block;
}

input[type=search] {
    -webkit-appearance: none;
}

.playlist-search, .track-search {
    width: 100%;
    height: 3.5em;
    background-color: #191919;
    color: #fff;
    border: none;
    font-size: 1em;
    padding: 1em;
    border-radius: 4px;
}

.track-search {
    margin: 2em 0;
}

.playlist-overview-section {
    margin: 3em 0;
}

.playlist-overview-section header {
    display: flex;
    align-items: center;
}

.playlist-overview-section header a {
    margin-left: auto;
}

.playlist-overview-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
}

.playlist-overview-list li {
    height: 100%;
    width: 100%;
}

.playlist-overview-list a {
    width: 100%;
    height: 100%;
}

.playlist-overview-list img {
    width: 100%;
    border-radius: 4px;
}

.gradient {
    width: 100%;
    height: 10em;
    background: linear-gradient(to bottom, #31f7f4 0%, #6f8fce 100%);
    border-radius: 4px;
    margin-bottom: 4px;
}

.background-image {
    background-size: cover;
    display: block;
    filter: blur(2.5em);
    -webkit-filter: blur(2.5em);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: -1;
    transition: background-image 0.6s ease-in-out;
}

.background-image:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.2); */
    background: linear-gradient(to bottom, transparent 0%, #000 100%);
    z-index: 1;
}
