<!DOCTYPE html>
<html lang="en">

<head>
	<% include ./partials/head %>
</head>

<body>
	<% include ./partials/header %>
		<main>
			<header class="playlist-create-header">
				<a href="/playlists" class="leave-playlist-button"><img src="/icons/back.svg" alt="" class="icon"><span>Back to overview</span></a>
				<h1>Create a playlist</h1>
			</header>


			<form name="create-playlist" class="playlist-create-form" method="POST" action="/create">

				<div>
					<label for="name">What do we call the playlist?</label>
					<input type="text" name="name" id="name" placeholder="Enter a name" required>
				</div>

				<!-- <div>
					<label for="private">Make playlist private</label>
					<input id="private" name="private" type="checkbox">
				</div>

				<div>
					<label for="restricted">Make playlist restricted</label>
					<input id="restricted" name="restricted" type="checkbox">
				</div>

				<div>
					<label for="password">Password</label>
					<input id="password" name="password" type="password">
				</div>

				<div>
					<label for="artist">Artist</label>
					<input id="text" name="artist" type="artist">
				</div>

				<select>
			  <option value="pop">Pop</option>
			  <option value="hiphop">Hiphop</option>
			  <option value="rock">Rock</option>
			  <option value="classic">classic</option>
			</select> -->

				<input type="submit" value="Create" class="button save-playlist-button">
			</form>
		</main>
		<% include ./partials/scripts %>
</body>

</html>
