<!DOCTYPE html>
<html lang="en">

<head>
	<% include ./partials/head %>
</head>

<body>
	<h1>Create playlist</h1>
	<a href="/playlists">Back</a>

	<form name="create-playlist" method="POST" action="/create">
		<label for="name">Name</label>
		<input type="text" name="name" id="name" required>

		<label for="description">Description</label>
		<input type="text" name="description" id="description">

		<input type="submit" value="Submit">
	</form>

	<% include ./partials/scripts %>
</body>

</html>