<!DOCTYPE html>
<html lang="en">

<head>
	<% include ./partials/head %>
</head>

<body>
	<main>
		<header class="landingspage">
			<h3 class="logo"></h3>
		<a href="/login" class="button">Connect</a>
		</header>

	</main>

	<% include ./partials/scripts %>
</body>

</html>
