<!DOCTYPE html>
<html lang="en">

<head>
	<% include ./partials/head %>
</head>

<body>
	<main>
		<h1>Spotify Together</h1>
		<a href="/login" class="button">Connect</a>
	</main>

	<% include ./partials/scripts %>
</body>

</html>
