<!DOCTYPE html>
<html lang="en">

<head>
	<% include ./partials/head %>
</head>

<body>
	<% include ./partials/header %>
		<main>
			<h1>All playlists</h1>
			<ul>
				<% for(var i=0; i < playlists.length; i++) { %>
					<li>
						<a href="playlist/<%= playlists[i]._id %>">
							<%= playlists[i].name %>
						</a>
					</li>
					<% } %>
			</ul>
			<a href="create">Create playlist</a>
		</main>

		<% include ./partials/scripts %>
</body>

</html>