<!DOCTYPE html>
<html lang="en">

<head>
	<% include ./partials/head %>
</head>

<body>
	<% include ./partials/header %>
		<main>
			<header class="playlist-overview-header">
				<h1>All playlists</h1>
				<div class="track-search-wrapper">
						<input class="track-search" type="search" name="search" placeholder="Search for a playlist">
						<img src="/icons/search.svg" alt="" class="track-search-icon">
				</div>
				<a href="create" class="button create-playlist-button">Create playlist</a>
			</header>


			<section class="playlist-overview-section">
				<header class="tracklist__header">
					<h3>Playlists</h3>

				</header>
				<ul class="playlist-overview-list">
					<% for(var i=0; i < playlists.length; i++) { %>
						<li>
							<a href="playlist/<%= playlists[i]._id %>">
								<% if(playlists[i].tracks[0]) { %>
									<img src="<%= playlists[i].tracks[0].album.images[0].url %>" alt="">
									<% } else { %>
										<div class="gradient"></div>
										<% } %>
											<div>
												<%= playlists[i].name %>
											</div>

							</a>
						</li>
						<% } %>
				</ul>
			</section>
			<div class="bg"></div>
		</main>

		<% include ./partials/scripts %>
</body>

</html>
