<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Spotify Together</title>
</head>

<body>
	<h1>Playlist</h1>
	<a href="/playlists">Back</a>
	<ul>
		<% for(var i=0; i < playlistData.users.length; i++) { %>
			<li>
				<p><%= playlistData.users[i] %></p>
			</li>
			<% } %>
	</ul>
</body>

</html>
