<!DOCTYPE html>
<html lang="en">

<head>
	<% include ./partials/head %>
</head>

<body>
	<% include ./partials/header %>

		<main>
			<header>
				<a href="/playlists">Back</a>
				<h1 class="playlist-title"><%= playlistData.name %></h1>
				<p class="playlist-description">
					<%= playlistData.description %>
				</p>
			</header>

			<h3 class="playlist-currentusers-amount"><%= playlistData.activeUsers.length %> Users</h3>
			<ul class="playlist-currentusers">

			</ul>

			<h3>Songs</h3>
			<ul class="playlist">
				<% for(var i=0; i < playlistData.tracks.length; i++) { %>
					<li>
						<p>
							<%= playlistData.tracks[i].name %>
						</p>
					</li>
					<% } %>
			</ul>

			<button class="show-add-tracks">Add songs</button>
		</main>

		<% include ./partials/scripts %>
</body>

</html>
