<!DOCTYPE html>
<html lang="en">

<head>
	<% include ./partials/head %>
</head>

<body>
	<% include ./partials/header %>
		<h1>Playlist</h1>
		<a href="/playlists">Back</a>
		<ul>
			<% for(var i=0; i < playlistData.songs.length; i++) { %>
				<li>
					<p>
						<%= playlistData.songs[i] %>
					</p>
				</li>
				<% } %>
		</ul>

		<% include ./partials/scripts %>
</body>

</html>